<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo.JPG">
    <title>Sign Up - HeartFlux</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <div id="app">
        <div class="signup-container">
            <h1>WELCOME TO HEARTFLUX</h1>
            <h2>Sign-Up</h2>
            <form @submit.prevent="registerUser">
                <input type="text" v-model="name" placeholder="Enter username" required>
                <input type="email" v-model="email" placeholder="Enter your email address" required>
                <input type="password" v-model="password" placeholder="Enter your password" required>
                <input type="password" v-model="confirmPassword" placeholder="Enter confirm password" required>
                <p v-if="passwordMismatch" class="error-message">Passwords do not match</p>
                <button type="submit" :disabled="passwordMismatch">Sign Up</button>
            </form>
            <p>Already have an account? <a href="login.html"><b>Click here</b></a></p>
        </div>
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
                name: "",
                email: "",
                password: "",
                confirmPassword: ""
            },
            computed: {
                passwordMismatch() {
                    return this.password !== this.confirmPassword && this.confirmPassword.length > 0;
                }
            },
            methods: {
                async registerUser() {
                    try {
                        const response = await axios.post("https://heartflux.onrender.com/signup", {
                            name: this.name,
                            email: this.email,
                            password: this.password
                        });
                        console.log("Signup Successful, Token:", response.data.access_token); // Debugging

                        // Store JWT token in localStorage
                        localStorage.setItem("token", response.data.access_token);

                        // Redirect to index.html after successful signup
                        window.location.href = "index.html";


                    } catch (error) {
                        alert("Error: " + error.response.data.detail);
                    }
                }
            }
        });
    </script>
</body>
</html>
